<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Tryout FKIK Unwar</title>
</head>
<body>
    <!-- Header Start -->
    <header class="relative w-full h-[800px] bg-gradient-to-r from-blue-400 to-purple-400 overflow-hidden">
        <div class="wave wave-1"></div>
        <div class="wave wave-2"></div>
        <div class="wave wave-3"></div>
        <div class="wave wave-4"></div>

        <!-- Navbar Start-->
        <nav class="fixed z-[9999] top-0 left-0 w-full shadow bg-white backdrop-filter backdrop-blur-lg bg-opacity-20">
            <div class="container m-auto flex justify-between items-center text-gray-700 relative">
                <img src="../../src/img/logo.png" height="75" width="150">
                <ul class="hidden lg:flex items-center pr-10 text-base font-semibold cursor-pointer">
                    <li ><a class="hover:bg-gray-200 py-4 px-6" href="#home">Home</a></li>
                    <li ><a class="hover:bg-gray-200 py-4 px-6" href="#testimoni">Testimoni</a></li>
                    <li ><a class="hover:bg-gray-200 py-4 px-6" href="#about">About</a></li>
                    <li ><a class="hover:bg-gray-200 py-4 px-6" href="#pricing">Pricing</a></li>
                    <li ><a class="hover:bg-gray-200 py-4 px-6" href="#contact">Contact</a></li>
                    <li ><a class="hover:bg-gray-200 py-4 px-6" href="./login.html">Login</a></li>
                    <li ><a class="hover:bg-gray-200 py-4 px-6" href="./register.html">Register</a></li>
                </ul>
                <button id="hamburger" name="hamburger" class="block lg:hidden py-3 px-4 mx-2 rounded focus:outline-none hover:bg-gray-200">
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                </button>
                <nav id="nav-menu" class="hidden absolute py-5 bg-white shadow-lg rounded-lg max-w-[250px] w-full right-4 top-full">
                    <ul class="block lg:flex items-center pr-10 text-base font-semibold cursor-pointer">
                        <li><a class="hover:bg-gray-200 py-2 mx-8 flex" href="#home">Home</a></li>
                        <li><a class="hover:bg-gray-200 py-2 mx-8 flex" href="#testimoni">Testimoni</a></li>
                        <li><a class="hover:bg-gray-200 py-2 mx-8 flex" href="#about">About</a></li>
                        <li><a class="hover:bg-gray-200 py-2 mx-8 flex" href="#pricing">Pricing</a></li>
                        <li><a class="hover:bg-gray-200 py-2 mx-8 flex" href="#contact">Contact</a></li>
                        <li><a class="hover:bg-gray-200 py-2 mx-8 flex" href="/login">Login</a></li>
                        <li><a class="hover:bg-gray-200 py-2 mx-8 flex" href="/register">Register</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
        <!-- Navbar End -->

        <!-- Hero Start -->
        <section id="home">
            <div class="text-center w-full py-[200px] mx-auto font-mono">
                <h1 class="text-5xl font-bold text-purple-800 mt-16">TRYOUT</h1>
                <h2 class="text-3xl font-semibold text-yellow-400 mb-28">FAKULTAS KEDOKTERAN DAN ILMU KESEHATAN UNIVERSITAS WARMADEWA</h2>
                <a href="#" class="text-base font-semibold text-white bg bg-gradient-to-tr px-5 py-2 from-purple-500 to-blue-500 rounded-full hover:opacity-80 hover:shadow-xl transition duration-300 ease-in-out">Daftar Sekarang!</a>
            </div>
        </section>
        <!-- Hero End -->
    </header>
    <!-- Header End -->

    <!-- Testimoni Start -->
    <section class="h-[850px] my-96 mx-64 bg-blue-400 rounded-3xl shadow-round font-mono" id="testimoni">
        <div id="container">
            <div class="text-3xl font-bold text-white w-full pt-12 pb-1 mx-auto text-center" id="title">
                <h1>TESTIMONI</h1>
                <span class="flex w-1/2 bg-white px-1 py-[2px] mb-[4rem] mx-auto rounded-full"></span>
            </div>
            <video class="bg-white flex mx-auto px-4 py-4 rounded-lg" width="1080" height="720" controls autoplay="autoplay" muted>
                <source src="../../src/vid/testimoni.mp4" type="video/mp4">
            </video>
        </div>
    </section>
    <!-- Testimoni End -->

    <!-- About Start -->
    <section class="bg-teal-700 my-96 font-mono" id="about">
        <div id="container">
            <div class="text-3xl py-10 text-white text-center w-full mx-auto font-semibold" id="title">
                <h1>ABOUT</h1>
                <span class="flex w-1/2 bg-white px-1 py-[2px] mx-auto rounded-full"></span>
            </div>
            <div class="flex">
                <div class="w-1/2 mx-16">
                    <p class="text-justify text-lg text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, cupiditate. Cumque dolore quam consectetur assumenda tempora quas laudantium ad animi eius est doloribus laboriosam quia placeat neque suscipit, voluptas voluptatum.
                    Quidem, tempore! Repellat, voluptate veniam? Cum molestiae earum laborum reprehenderit minus dolores nihil fuga tempora? Debitis saepe illo quas nisi cumque, exercitationem, possimus, molestiae minus vero ullam reiciendis soluta repellendus.
                    Vitae est expedita numquam ducimus vero tempore illum modi iusto voluptatem omnis. Nisi deleniti illo, delectus temporibus fugit voluptas praesentium adipisci voluptate autem, architecto nam beatae. Sint rerum vel voluptas.
                    Veritatis dolore a veniam possimus. Rem necessitatibus doloribus ex voluptatibus impedit neque culpa deserunt excepturi tenetur dolorum ducimus doloremque quos quasi explicabo iusto, sapiente commodi magnam repudiandae modi deleniti assumenda?
                    Labore corporis minima nam facilis dolores quis qui cum enim aperiam ullam totam, a animi nulla minus voluptatem non culpa illum similique architecto! Recusandae deleniti nulla aspernatur rerum provident quam.
                    Nam porro, ea veritatis natus nesciunt, adipisci dolorum voluptatibus earum corrupti ullam explicabo, dignissimos laborum! Nobis, maxime fuga nostrum ducimus quas culpa iste, necessitatibus est magni reprehenderit, sint repellendus earum?
                    Sed quos minus id accusantium quibusdam rerum eos, cumque temporibus, consectetur, accusamus facere et nihil itaque! Qui rem reprehenderit exercitationem architecto veritatis id, delectus maiores ut nisi fuga, nihil sed!
                    Beatae tempore voluptatibus in id dolorem reprehenderit, eligendi, laboriosam ad quisquam nam, maxime voluptatem repudiandae placeat mollitia dolore? Ea enim eligendi dolores unde aspernatur quae asperiores ratione fuga temporibus ullam.</p>
                </div>
                <div class="w-1/2">
                    <img class="mx-auto my-10" src="../../src/img/poster.png" height="500" width="500" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- About End -->

    <!-- Pricing Start -->
    <section class="my-96 font-mono" id="pricing">
        <div class="text-3xl py-10 text-slate-900 text-center w-full mx-auto font-semibold" id="title">
            <h1>PRICING</h1>
            <span class="flex w-1/2 bg-slate-900 px-1 py-[2px] mx-auto rounded-full"></span>
        </div>
        <div id="container" class="flex">
            <!-- Start Paket 1 -->
            <div class="w-1/5 bg-slate-500 rounded-2xl pb-8 shadow-lg mx-10 mt-10">
                <div class="bg-slate-900 text-white rounded-t-2xl text-center text-xl font-semibold pb-12 pt-12">
                    VIRUS
                </div>
                <div class="flex justify-center items-center">
                    <div class="relative -top-8 text-4xl font-bold inline-flex items-center text-center justify-center bg-slate-900 border-white border-4 rounded-full w-28 h-28">
                        <div class="flex text-white">
                            125K
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <ul class="text-center font-semibold text-lg">
                        <li><span class="text-white">25</span> Soal Matematika</li>
                        <li><span class="text-white">15</span> Soal Fisika</li>
                        <li><span class="text-white">20</span> Soal Kimia</li>
                        <li><span class="text-white">10</span> Soal Biologi</li>
                        <li class="line-through"><span class="text-white">15</span> Soal TPA</li>
                        <li><span class="text-white">Pembahasan</span> Soal</li>
                    </ul>
                </div>
                <div class="justify-center flex items-center mt-5">
                    <a href="/register" class="py-2 px-5 bg-slate-900 text-white font-semibold border-2 border-slate-900 rounded-lg hover:bg-slate-500 hover:text-slate-900 transition duration-300 ease-in-out">Beli Sekarang</a>
                </div>
            </div>
            <!-- End Paket 1 -->

            <!-- Start Paket 2 -->
            <div class="w-1/5 bg-slate-500 rounded-2xl pb-8 shadow-lg mx-10 mt-10">
                <div class="bg-slate-900 text-white rounded-t-2xl text-center text-xl font-semibold pb-12 pt-12">
                    BACTERIA
                </div>
                <div class="flex justify-center items-center">
                    <div class="relative -top-8 text-4xl font-bold inline-flex items-center text-center justify-center bg-slate-900 border-white border-4 rounded-full w-28 h-28">
                        <div class="flex text-white">
                            125K
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <ul class="text-center font-semibold text-lg">
                        <li><span class="text-white">25</span> Soal Matematika</li>
                        <li><span class="text-white">15</span> Soal Fisika</li>
                        <li><span class="text-white">20</span> Soal Kimia</li>
                        <li><span class="text-white">10</span> Soal Biologi</li>
                        <li class="line-through"><span class="text-white">15</span> Soal TPA</li>
                        <li><span class="text-white">Pembahasan</span> Soal</li>
                    </ul>
                </div>
                <div class="justify-center flex items-center mt-5">
                    <a href="/register" class="py-2 px-5 bg-slate-900 text-white font-semibold border-2 border-slate-900 rounded-lg hover:bg-slate-500 hover:text-slate-900 transition duration-300 ease-in-out">Beli Sekarang</a>
                </div>
            </div>
            <!-- End Paket 2 -->

            <!-- Start Paket 3 -->
            <div class="w-1/5 bg-blue-500 rounded-2xl pb-8 shadow-lg mx-10 mt-10 scale-110">
                <div class="bg-blue-900 text-white rounded-t-2xl text-center text-xl font-semibold pb-12 pt-12">
                    HELMINTH
                </div>
                <div class="flex justify-center items-center">
                    <div class="relative -top-8 text-4xl font-bold inline-flex items-center text-center justify-center bg-blue-900 border-white border-4 rounded-full w-28 h-28">
                        <div class="flex text-white">
                            125K
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <ul class="text-center font-semibold text-lg">
                        <li><span class="text-white">25</span> Soal Matematika</li>
                        <li><span class="text-white">15</span> Soal Fisika</li>
                        <li><span class="text-white">20</span> Soal Kimia</li>
                        <li><span class="text-white">10</span> Soal Biologi</li>
                        <li class="line-through"><span class="text-white">15</span> Soal TPA</li>
                        <li><span class="text-white">Pembahasan</span> Soal</li>
                    </ul>
                </div>
                <div class="justify-center flex items-center mt-5">
                    <a href="/register" class="py-2 px-5 bg-blue-900 text-white font-semibold border-2 border-blue-900 rounded-lg hover:bg-blue-500 hover:text-blue-900 transition duration-300 ease-in-out">Beli Sekarang</a>
                </div>
            </div>
            <!-- End Paket 3 -->

            <!-- Start Paket 4 -->
            <div class="w-1/5 bg-slate-500 rounded-2xl pb-8 shadow-lg mx-10 mt-10">
                <div class="bg-slate-900 text-white rounded-t-2xl text-center text-xl font-semibold pb-12 pt-12">
                    FUNGI
                </div>
                <div class="flex justify-center items-center">
                    <div class="relative -top-8 text-4xl font-bold inline-flex items-center text-center justify-center bg-slate-900 border-white border-4 rounded-full w-28 h-28">
                        <div class="flex text-white">
                            125K
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <ul class="text-center font-semibold text-lg">
                        <li><span class="text-white">25</span> Soal Matematika</li>
                        <li><span class="text-white">15</span> Soal Fisika</li>
                        <li><span class="text-white">20</span> Soal Kimia</li>
                        <li><span class="text-white">10</span> Soal Biologi</li>
                        <li class="line-through"><span class="text-white">15</span> Soal TPA</li>
                        <li><span class="text-white">Pembahasan</span> Soal</li>
                    </ul>
                </div>
                <div class="justify-center flex items-center mt-5">
                    <a href="/register" class="py-2 px-5 bg-slate-900 text-white font-semibold border-2 border-slate-900 rounded-lg hover:bg-slate-500 hover:text-slate-900 transition duration-300 ease-in-out">Beli Sekarang</a>
                </div>
            </div>
            <!-- End Paket 4 -->

            <!-- Start Paket 5 -->
            <div class="w-1/5 bg-slate-500 rounded-2xl pb-8 shadow-lg mx-10 mt-10">
                <div class="bg-slate-900 text-white rounded-t-2xl text-center text-xl font-semibold pb-12 pt-12">
                    PROTOZOA
                </div>
                <div class="flex justify-center items-center">
                    <div class="relative -top-8 text-4xl font-bold inline-flex items-center text-center justify-center bg-slate-900 border-white border-4 rounded-full w-28 h-28">
                        <div class="flex text-white">
                            125K
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <ul class="text-center font-semibold text-lg">
                        <li><span class="text-white">25</span> Soal Matematika</li>
                        <li><span class="text-white">15</span> Soal Fisika</li>
                        <li><span class="text-white">20</span> Soal Kimia</li>
                        <li><span class="text-white">10</span> Soal Biologi</li>
                        <li class="line-through"><span class="text-white">15</span> Soal TPA</li>
                        <li><span class="text-white">Pembahasan</span> Soal</li>
                    </ul>
                </div>
                <div class="justify-center flex items-center mt-5">
                    <a href="/register" class="py-2 px-5 bg-slate-900 text-white font-semibold border-2 border-slate-900 rounded-lg hover:bg-slate-500 hover:text-slate-900 transition duration-300 ease-in-out">Beli Sekarang</a>
                </div>
            </div>
            <!-- End Paket 5 -->
        </div>
    </section>
    <!-- Pricing End -->

    <!-- Contact Start -->
    <section class="bg-gradient-to-br from-purple-600 to-blue-500 mt-96 font-mono" id="contact">
        <div id="container">
            <div class="flex w-full min-h-screen justify-center items-center">
                <div class="flex flex-col space-y-6 bg-blue-400 w-full max-w-3xl p-8 rounded-xl shadow-lg text-white">
                    <div class="flex flex-col space-y-4 justify-between">
                        <div>
                            <h1 class="font-bold text-4xl tracking-wide">Contact Us</h1>
                            <p class="pt-2 text-blue-100 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sunt laudantium, dolorum voluptatem beatae aliquid reprehenderit vel doloremque eligendi qui sequi quos fugiat maiores non obcaecati doloribus aspernatur magni! Perspiciatis.</p>
                        </div>
                    </div>
                    <div>
                        <div class="bg-white rounded-xl shadow-lg p-8 my-6 text-gray-600">
                            <form action="" class="flex flex-col space-y-4">
                                <div>
                                    <label for="" class="text-sm">Your name</label>
                                    <input type="text" placeholder="Your name" class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 focus:ring-teal-300">
                                </div>
                                <div>
                                    <label for="" class="text-sm">Email Address</label>
                                    <input type="email" placeholder="Email Address" class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 focus:ring-teal-300">
                                </div>
                                <div>
                                    <label for="" class="text-sm">Message</label>
                                    <textarea type="text" placeholder="Message" rows="4" class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 focus:ring-teal-300"></textarea>
                                </div>
                                <button class="inline-block self-end bg-cyan-700 text-white font-bold rounded-lg px-6 py-2 uppercase text-sm">send message</button>
                            </form>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-4 justify-between">
                        <div class="flex flex-col space-y-4">
                            <div class="inline-flex space-x-2 items-center">
                                <ion-icon name="call" class="text-teal-300 text-xl"></ion-icon>
                                <span>08123456789</span>
                            </div>
                            <div class="inline-flex space-x-2 items-center">
                                <ion-icon name="mail" class="text-teal-300 text-xl"></ion-icon>
                                <span>warma@email.com</span>
                            </div>
                            <div class="inline-flex space-x-2 items-center">
                                <ion-icon name="location" class="text-teal-300 text-xl"></ion-icon>
                                <span>Jl. Tukad Badung XVII A no.8, Denpasar</span>
                            </div>
                            <div class="inline-flex space-x-2 items-center">
                                <a href="https://www.instagram.com/kedokteran.warmadewa/"><ion-icon name="logo-instagram" class="text-teal-300 text-xl"></ion-icon> @kedokteran.warmadewa</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact End -->

    <!-- script -->
    <script src="../js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>