<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Tryout</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body class="relative min-h-screen font-poppins antialiased text-sm bg-white flex text-gray-800 h-full 2xl:max-w-[1920px] 2xl:mx-auto 2xl:border-r-2" x-data="{ showMenu: false }">

    <aside class="flex flex-col lg:flex lg:flex-col justify-between shadow-xl lg:shadow-none lg:fixed min-h-screen top-0 z-20  bg-[#151e29]  w-fit bottom-0 lg:w-60 px-3 lg:px-6 pt-6  pb-0" :class="showMenu ? 'fixed' : 'hidden'" x-transition.duration.500ms>
        <div>
            <div class="flex font-semibold text-lg  items-center justify-center space-x-2">
                <span>
                    <img class="w-28 h-28 rounded-full" src="../../src/img/fkik.jpg" alt="" srcset="">
                </span>
            </div>
            <div>
              <h2 class="mt-4 text-white w-full mx-6">TRYOUT FKIK UNWAR</h2>
            </div>

            <div class="mt-12">
                <div class="flex flex-col space-y-2 text-base font-medium ">
                    <a class=" rounded-md px-3 py-3 text-gray-300 flex items-center hover:bg-gray-700 hover:text-white  transition ease-in-out justify-between space-x-2" href="#">
                        <span>
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h2.25a3 3 0 013 3v2.25a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm9.75 0a3 3 0 013-3H18a3 3 0 013 3v2.25a3 3 0 01-3 3h-2.25a3 3 0 01-3-3V6zM3 15.75a3 3 0 013-3h2.25a3 3 0 013 3V18a3 3 0 01-3 3H6a3 3 0 01-3-3v-2.25zm9.75 0a3 3 0 013-3H18a3 3 0 013 3V18a3 3 0 01-3 3h-2.25a3 3 0 01-3-3v-2.25z" clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span class="flex-1 pl-2">Dashboard</span>
                    </a>
                    <a class=" rounded-md px-3 py-3 text-gray-300 flex items-center hover:bg-gray-700 hover:text-white  transition ease-in-out justify-between space-x-2" href="#">
                      <span>
                        <ion-icon class="h-6 w-6" name="document-outline"></ion-icon>
                      </span>
                      <span class="flex-1 pl-2 ">Panel Tryout</span>
                    </a>
                    <a class=" rounded-md px-3 py-3 text-gray-300 flex items-center hover:bg-gray-700 hover:text-white  transition ease-in-out justify-between space-x-2" href="#">
                      <span>
                        <ion-icon class="h-6 w-6" name="document-lock-outline"></ion-icon>
                      </span>
                      <span class="flex-1 pl-2 ">Pembahasan</span>
                    </a>
                    <a class=" rounded-md px-3 py-3 text-gray-300 flex items-center hover:bg-gray-700 hover:text-white  transition ease-in-out justify-between space-x-2" href="#">
                      <span>
                          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"></path>
                          </svg>
                      </span>
                      <span class="flex-1 pl-2 ">Beli Paket</span>
                    </a>
                    <a class=" rounded-md px-3 py-3 text-gray-300 flex items-center hover:bg-gray-700 hover:text-white  transition ease-in-out justify-between space-x-2" href="#">
                        <span>
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 004.25 22.5h15.5a1.875 1.875 0 001.865-2.071l-1.263-12a1.875 1.875 0 00-1.865-1.679H16.5V6a4.5 4.5 0 10-9 0zM12 3a3 3 0 00-3 3v.75h6V6a3 3 0 00-3-3zm-3 8.25a3 3 0 106 0v-.75a.75.75 0 011.5 0v.75a4.5 4.5 0 11-9 0v-.75a.75.75 0 011.5 0v.75z" clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span class="flex-1 pl-2 ">Pembayaran</span>
                    </a>
                    <a class=" rounded-md px-3 py-3 text-gray-300 flex items-center hover:bg-gray-700 hover:text-white  transition ease-in-out justify-between space-x-2" href="#">
                      <span>
                        <ion-icon class="w-6 h-6" name="log-in-outline"></ion-icon>
                      </span>
                      <span class="flex-1 pl-2 ">Logout</span>
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <main class="bg-gray-20 min-h-screen lg:ml-60 flex w-full">
        <!-- Screen Overlay shows on small screen showMenu -->
        <div class="absolute lg:hidden left-0 top-0 h-full w-full bg-black/30 z-[15]" @click="showMenu = false" x-show="showMenu" x-transition.opacity.duration.500ms>
        </div>

        <!-- Clients Main-->
        <section class="flex-1 py-6 px-4 md:px-4 lg:px-8">

            <!-- Header -->
            <div class="flex items-center">
                <span class="text-black mt-4 text-3xl font-semibold w-3/4">PANEL TRYOUT</span>
                <div class="flex flex-col w-1/4 items-start">
                  <h2 class="mt-2">Nama Peserta    : I Putu Indra Arsana</h2>
                  <h2 class="mt-2">Nomor Peserta   : 2270121173</h2>
                  <h2 class="mt-2">Asal Sekolah    : SMA NEGERI 3 Denpasar</h2>
                  <div class="flex w-full mt-4">
                    <div class="flex w-1/6 px-[2px] py-[2px] bg-gray-500 rounded-full mr-1">
                      <div class="mx-auto">
                        <span class="text-[10px] font-bold text-white">BASIC</span>
                      </div>
                    </div>
                    <div class="flex w-1/6 px-[2px] py-[2px] bg-red-500 rounded-full mr-1">
                      <div class="mx-auto">
                        <span class="text-[10px] font-bold text-white">Virus</span>
                      </div>
                    </div>
                    <div class="flex w-1/6 px-[2px] py-[2px] bg-amber-500 rounded-full mr-1">
                      <div class="mx-auto">
                        <span class="text-[10px] font-bold text-white">Bacteria</span>
                      </div>
                    </div>
                    <div class="flex w-1/6 px-[2px] py-[2px] bg-lime-500 rounded-full mr-1">
                      <div class="mx-auto">
                        <span class="text-[10px] font-bold text-white">Helminth</span>
                      </div>
                    </div>
                    <div class="flex w-1/6 px-[2px] py-[2px] bg-emerald-500 rounded-full mr-1">
                      <div class="mx-auto">
                        <span class="text-[10px] font-bold text-white">Fungi</span>
                      </div>
                    </div>
                    <div class="flex w-1/6 px-[2px] py-[2px] bg-sky-500 rounded-full mr-1">
                      <div class="mx-auto">
                        <span class="text-[10px] font-bold text-white">Protozoa</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <span class="flex w-full h-1 px-[2px] py-[2px] my-10 bg-black"></span>
            
            <!-- Main Start -->
            <div class="mt-8 text-gray-500 text-justify">
              <!-- List Start -->
              <div class="px-5 py-5 bg-gradient-to-br from-purple-500 to-blue-500 rounded-2xl shadow-2xl">
                <div class="flex items-center my-4 px-5 py-5 bg-white rounded-2xl shadow-lg">
                  <div class="w-11/12">
                    <h1 class="text-xl font-semibold">Paket Virus</h1>
                    <div class="items-center mt-2">
                      <ul class="flex flex-row">
                        <li class="px-1">| 25 Soal Matematika |</li>
                        <li class="px-1">25 Soal Fisika |</li>
                        <li class="px-1">25 Soal Kimia |</li>
                        <li class="px-1">25 Soal Biologi |</li>
                        <li class="px-1">25 Soal TPA |</li>
                      </ul>
                    </div>
                  </div>
                  <div class="w-1/12">
                    <a class="px-5 py-5 bg-blue-400 text-white font-semibold rounded-lg hover:bg-blue-300 transition duration-300 ease-in-out" href="./ujian.html">Mulai Ujian</a>
                  </div>
                </div>
                <div class="flex items-center my-4 px-5 py-5 bg-white rounded-2xl shadow-lg">
                  <div class="w-11/12">
                    <h1 class="text-xl font-semibold">Paket Virus</h1>
                    <div class="items-center mt-2">
                      <ul class="flex flex-row">
                        <li class="px-1">| 25 Soal Matematika |</li>
                        <li class="px-1">25 Soal Fisika |</li>
                        <li class="px-1">25 Soal Kimia |</li>
                        <li class="px-1">25 Soal Biologi |</li>
                        <li class="px-1">25 Soal TPA |</li>
                      </ul>
                    </div>
                  </div>
                  <div class="w-1/12">
                    <a class="px-5 py-5 bg-blue-400 text-white font-semibold rounded-lg hover:bg-blue-300 transition duration-300 ease-in-out" href="./ujian.html">Mulai Ujian</a>
                  </div>
                </div>
                <div class="flex items-center my-4 px-5 py-5 bg-white rounded-2xl shadow-lg">
                  <div class="w-11/12">
                    <h1 class="text-xl font-semibold">Paket Virus</h1>
                    <div class="items-center mt-2">
                      <ul class="flex flex-row">
                        <li class="px-1">| 25 Soal Matematika |</li>
                        <li class="px-1">25 Soal Fisika |</li>
                        <li class="px-1">25 Soal Kimia |</li>
                        <li class="px-1">25 Soal Biologi |</li>
                        <li class="px-1">25 Soal TPA |</li>
                      </ul>
                    </div>
                  </div>
                  <div class="w-1/12">
                    <a class="px-5 py-5 bg-blue-400 text-white font-semibold rounded-lg hover:bg-blue-300 transition duration-300 ease-in-out" href="./ujian.html">Mulai Ujian</a>
                  </div>
                </div>
              </div>
              <!-- List End -->
            </div>
            <!-- main stop -->
        </section>
    </main>

    <!-- script -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

  </body>
</html>